<nav class="main-nav">
	<ul class="list-unstyled main-nav-list">
		{% for item in menu.main.items %}
			<li class="d-inline-block main-nav-item {{ item.children ? 'sub' }}">
				<a class="main-nav-link {{ item.current or item.current_item_parent ? 'active' }}"
					href="{{ item.link }}"
					target="{{ item.target ? '_blank' : '_self' }}">
					{{ item.name }}
				</a>
				{% if item.children %}
					<div class="main-nav-toggle" v-on:click="slotProps.toggleSubNav">
						<span class="visually-hidden">Toggle sub-navigation</span>
					</div>
					<nav class="main-sub-nav">
						<ul class="list-unstyled main-sub-nav-list">
							{% for subitem in item.children %}
								<li class="main-sub-nav-item">
									<a class="main-sub-nav-link {{ subitem.current ? 'active' }}"
										href="{{ subitem.link }}"
										target="{{ subitem.target ? '_blank' : '_self' }}">
										{{ subitem.name }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
</nav>
