
<cookies-info-box
  :acceptlabel="`{{ options.cookies_info_box_accept }}`"
  :acceptAllLabel="`{{ options.cookies_info_box_close }}`"
  :isCookiePage="true"
>
  <span class="d-block h3 text-reset">{{ options.cookies_info_box_title }}</span>
  <p>{{ options.cookies_info_box_text }}</p>

  {# Panel #}
  <template #actions="slotProps">
    <div class="container-fluid">
    <div class="row align-items-center mb-1">
      <div class="col-12 col-lg mb-1-half mb-md-0">
        <div class="form-check d-inline-block me-1 mb-half">
          <input class="form-check-input custom-control-input" id="cookies-info-box-checkbox-essential" type="checkbox" disabled checked>
          <label for="cookies-info-box-checkbox-essential" class="form-check-label custom-control-label text-reset">{{ __("Necessary", "jdev") }}</label>
        </div>
        <div class="form-check d-inline-block me-1 mb-half">
          <input class="form-check-input custom-control-input" id="cookies-info-box-checkbox-functional" type="checkbox" v-model="slotProps.categories.value['functional']">
          <label for="cookies-info-box-checkbox-functional" class="form-check-label custom-control-label text-reset">{{ __("Functional", "jdev") }}</label>
        </div>
        <div class="form-check d-inline-block me-1 mb-half">
          <input class="form-check-input custom-control-input" id="cookies-info-box-checkbox-analytical" type="checkbox" v-model="slotProps.categories.value['analytical']">
          <label for="cookies-info-box-checkbox-analytical" class="form-check-label custom-control-label text-reset">{{ __("Analytical", "jdev") }}</label>
        </div>
        <div class="form-check d-inline-block mb-0">
          <input class="form-check-input custom-control-input" id="cookies-info-box-checkbox-social-media" type="checkbox" v-model="slotProps.categories.value['socialmedia']">
          <label for="cookies-info-box-checkbox-social-media" class="form-check-label custom-control-label text-reset">{{ __("Social Media Cookies", "jdev") }}</label>
        </div>
      </div>
      <div class="col-12 col-lg-auto">
        <div class="d-grid d-sm-block text-end">
          <button type="button" class="btn btn-outline-white mb-half" @click="slotProps.accept">{{ options.cookies_info_box_accept }}</button>
          <button type="button" class="btn btn-white ms-sm-1 mb-half" @click="slotProps.acceptAll">{{ options.cookies_info_box_accept_all }}</button>
        </div>
      </div>
    </div>
    <div class="text-sm-end text-center mb-half">
      <a class="cookies-info-box-toggle-details collapsed" href="javascript:void(0);" data-bs-toggle="collapse" data-bs-target="#cookie-info-box-collapse">
        <span class="cookies-info-box-toggle-details--closed">{{ __("Show details", "jdev") }}</span>
        <span class="cookies-info-box-toggle-details--opened">{{ __("Hide details", "jdev") }}</span>
      </a>
    </div>
  </div>
  </template>

  {# Detail #}
  <template #details>
    <div class="container-fluid px-xl-4">
      <div class="mb-3">
        {% if options.cookies_info_box_cookie_usage_title %}
          <h2 class="h3 mb-1 text-reset">{{ options.cookies_info_box_cookie_usage_title }}</h2>
        {% endif %}
        {% if options.cookies_info_box_cookie_usage_text %}
          <div>{{ options.cookies_info_box_cookie_usage_text }}</div>
        {% endif %}
      </div>
      <h2 class="h3 mb-2 text-reset">{{ __("Which types of cookies we use?", "jdev") }}</h2>
      <div class="mb-2">
        {% if options.cookies_info_box_cookie_categories_essential_title %}
          <h3 class="h4 mb-half text-reset">{{ options.cookies_info_box_cookie_categories_essential_title }}</h3>
        {% endif %}
        {% if options.cookies_info_box_cookie_categories_essential_text %}
          <div>{{ options.cookies_info_box_cookie_categories_essential_text }}</div>
        {% endif %}
      </div>
      <div class="mb-2">
        {% if options.cookies_info_box_cookie_categories_functional_title %}
          <h3 class="h4 mb-half text-reset">{{ options.cookies_info_box_cookie_categories_functional_title }}</h3>
        {% endif %}
        {% if options.cookies_info_box_cookie_categories_functional_text %}
          <div>{{ options.cookies_info_box_cookie_categories_functional_text }}</div>
        {% endif %}
      </div>
      <div class="mb-2">
        {% if options.cookies_info_box_cookie_categories_analytical_title %}
          <h3 class="h4 mb-half text-reset">{{ options.cookies_info_box_cookie_categories_analytical_title }}</h3>
        {% endif %}
        {% if options.cookies_info_box_cookie_categories_analytical_text %}
          <div>{{ options.cookies_info_box_cookie_categories_analytical_text }}</div>
        {% endif %}
      </div>
      <div class="mb-2">
        {% if options.cookies_info_box_cookie_categories_social_media_title %}
          <h3 class="h4 mb-half text-reset">{{ options.cookies_info_box_cookie_categories_social_media_title }}</h3>
        {% endif %}
        {% if options.cookies_info_box_cookie_categories_social_media_text %}
          <div>{{ options.cookies_info_box_cookie_categories_social_media_text }}</div>
        {% endif %}
      </div>
    </div>
  </template>
</cookies-info-box>
