<footer id="footer" class="footer" ref="footer">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-auto">
				{# Site logo #}
				{% if options.general_logo %}
					<a class="footer-logo" href="{{ site.home_url }}">
						<img src="{{ get_image(options.general_logo)|resize(0, 50) }}"
							class="footer-site-logo"
							alt="{{ get_image(options.general_logo).alt }}"
							width="50"
							height="50" />
					</a>
				{% endif %}
			</div>
			{# Footer address #}
			{% if options.footer_company_info_show %}
				<div class="col-lg-3 mb-2 mb-lg-0 footer-address">
					<ul class="footer-address-list">
						{% if options.footer_company_info %}
							<li class="d-flex align-items-center mb-1 footer-address-info">{{ options.footer_company_info }}</li>
						{% endif %}
						{% if options.footer_company_address %}
							<li class="d-flex align-items-top py-half">
								<span class="pe-half"><svgicon name="globe"></svgicon></span>

								<span>{{ options.footer_company_address }}</span>
							</li>
						{% endif %}
						{% if options.footer_company_phone %}
							<li class="d-flex align-items-top py-half">
								<span class="pe-half"><svgicon name="phone"></svgicon></span>

								<a href="{{ options.footer_company_phone|phoneLink }}" class="footer-address-link link-hover-underlined">
									{{ options.footer_company_phone }}
								</a>
							</li>
						{% endif %}
						{% if options.footer_company_email %}
							<li class="d-flex align-items-top py-half">
								<span class="pe-half"><svgicon name="email"></svgicon></span>
								<a href="{{ options.footer_company_email|mailLink }}" class="footer-address-link link-hover-underlined">
									{{ options.footer_company_email }}
								</a>
							</li>
						{% endif %}
					</ul>
				</div>
			{% endif %}

			{# Footer links #}
			<div class="col-lg-2 mb-2 mb-lg-0 footer-links">
				{% include 'partials/navigations/footer_navigation.twig' %}
			</div>
		</div>

		{# Footer social sites #}
		{% if options.footer_social_sites_show and options.footer_social_sites %}
			<div class="footer-social">
				<ul class="footer-social-list list-unstyled">
					{% for social in options.footer_social_sites %}
						<li>
							<a class="footer-social-link"
								aria-label="{{ social.link.title }}"
								href="{{ social.link.url }}"
								{{ social.link.target ? 'target="' ~ social.link.target ~ '" rel="noopener"' }}>
								<svgicon :name="`social-{{ social.icon }}`"></svgicon>
								<span class="visually-hidden">{{ social.link.title }}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		{# Footer meta navigation #}
		<div class="row justify-content-center">
			<div class="col-auto">
				{% include 'partials/navigations/footer_meta_navigation.twig' %}
			</div>
		</div>

		{# Copyright #}
		{% if options.footer_copyright_text %}
			<div class="footer-copyright">
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						Copyright © {{ 'now'|date('Y') }} - {{ options.footer_copyright_text }}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</footer>
