<div class="row justify-content-center">
	<div class="col-lg-10 col-xl-8">
		<form action="{{ password.action }}" class="post-password-form" method="post">
			<p class="lead">
				{{ __('This content is password protected. To view it please enter your password below:') }}
			</p>

			<div class="form-floating mb-2">
				<input type="password"
					name="post_password"
					size="20"
					class="form-control"
					id="ds-page-password"
					placeholder="{{ __('Password:') }}" />
				<label for="ds-page-password">{{ __('Password:') }}</label>
			</div>

			<div class="text-end">
				<input class="btn btn-primary"
					type="submit"
					name="Submit"
					value="{{ function('esc_attr_x', 'Enter', 'post password form') }}" />
			</div>
		</form>
	</div>
</div>
