{% extends 'layouts/default.twig' %}

{% block content %}
	<section class="news-detail">
		<div class="container">
			{% if news.image %}
				<img lazy
					src="{{ getImagePlaceholder(1316, 440) }}"
					data-src="{{ get_image(news.image)|resize(1316, 440) }}"
					class="img-fluid mb-1-half"
					alt="{{ get_image(news.image).alt }}"
					width="1316"
					height="440" />
			{% endif %}
			{% for category in news.categories %}
				<span class="tag">{{ category.name }}</span>
			{% endfor %}
			{% if news.title %}
				<h1>
					{{ news.title }}
				</h1>
			{% endif %}
			{% if news.intro_text %}
				<p>
					{{ news.intro_text }}
				</p>
			{% endif %}
		</div>
		{{ renderCE(news.element, 'news') }}
	</section>
{% endblock %}
